body{
    font-family: Arial;
    background-color:#f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container{
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
}

h1{
    text-align: center;
}

.input{
    flex: 1;
    padding: 8px;
}
button{
    padding: 8px 12px;
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
li{
    display: flex;
    justify-content: space-between;
    background: #eee;
    padding: 8px;
    margin-bottom: 5px;
}

.delete{
    color: red;
    cursor: pointer;
}